<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> <!-- 외부 통신 하기 위해서 인터넷 퍼미션 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Visit_Jeju_App"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".login.PhoneAuthActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".login.SignUpActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".login.SignInActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".LocationTestActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".festival.FesRegionNmActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".festival.FesDetailActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".festival.FesActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".festival.regionNmDetailFesActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".shopping.ShopRegionNmActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".shopping.ShopDetailActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".shopping.ShopActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".shopping.regionNmDetailShopActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".accommodation.AccomRegionNmActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".accommodation.regionNmDetailAccomActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".restaurant.ResRegionNmActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".restaurant.regionNmDetailResActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".tour.regionNmDetailActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".tour.TourRegionNmActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".restaurant.ResDetailActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".restaurant.ResActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".accommodation.AccomDetailActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".accommodation.AccomActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".tour.TourDetailActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".tour.TourActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".community.activity.CommDetailActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".community.activity.CommWriteActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".community.activity.CommUpdateActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".community.activity.CommReadActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".community.activity.CommDeleteActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".login.AuthActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".chat.ChatMainActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".chat.ChatActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".IntroActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gpt.GptActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"/>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="vbc859zh6w" />
    </application>

</manifest>